
.img_container{
  display: flex;
  margin-left: auto;
  margin-right: auto;

}
#orcid_logo{

    width:340px;
    height:105px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:80px;
    margin-bottom:40px;
}
















































